.LoginPage {
    background: rgba(85, 85, 85, 1.00);
    min-height: 150vh;
}

.LoginPage .LogInBox {
    position: relative;
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-top: 34px;
    padding-right: 34px;
    padding-bottom: 34px;
    padding-left: 34px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background: rgba(77, 76, 76, 1.00);
}


.LogInBox .HeaderLogIn {
    position: relative;
    flex: none;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 259px;
    height: 150px;
}

.LoginPage .LogInBox .HeaderLogIn .SignIntoaccessyouraccount {
    position: absolute;
    left: 0px;
    top: 43px;
    bottom: 43px;
    width: 259px;
    height: 32px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgba(255, 255, 255, 1.00);
    font-family: Athiti;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

.LoginPage .LogInBox .HeaderLogIn .Welcomeback {
    position: absolute;
    left: 43px;
    top: 15px;
    width: 172px;
    height: 35px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgba(255, 255, 255, 1.00);
    font-family: Bakbak One;
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
}

.LoginPage .LogInBox .HeaderLogIn .SIGNIN {
    position: absolute;
    left: 79px;
    top: 0px;
    width: 100px;
    height: 21px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgba(0, 0, 0, 1.00);
    font-family: Bakbak One;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

.LoginPage .LogInBox .InputForm {
    position: relative;
    flex: none;
    margin-bottom: 43px;
}

.LoginPage .LogInBox .InputForm .Email {
    position: relative;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: left;
    text-align: center;
    color: rgba(255, 255, 255, 1.00);
    font-family: Athiti;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.LoginPage .LogInBox .InputForm .Password {
    position: relative;
    left: 0px;
    top: 30px;
    display: flex;
    justify-content: left;
    text-align: center;
    color: rgba(255, 255, 255, 1.00);
    font-family: Athiti;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.LoginPage .LogInBox .InputForm .InputEmail {
    position: relative;
    left: 0px;
    top: 10px;
    background: rgba(133, 133, 133, 1.00);
}

.LoginPage .LogInBox .InputForm .InputPassword {
    position: relative;
    left: 0px;
    top: 30px;
    background: rgba(133, 133, 133, 1.00);
}

.LoginPage .LogInBox .ButtonLogIn {
    position: relative;
    display: flex;
    margin-bottom: 43px;
    margin-top: 43px;
    width: 200px;
    height: 37px;
}

.LoginPage .LogInBox .ButtonLogIn .button {
    position: relative;
    left: 0px;
    top: 0px;
    width: 366px;
    height: 37px;
    background: rgba(249, 79, 70, 1.00);
}

.LoginPage .LogInBox .ButtonAnnulla {
    position: relative;
    display: flex;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 200px;
    height: 37px;
}

.LoginPage .LogInBox .ButtonAnnulla .button2 {
    position: relative;
    left: 0px;
    top: 0px;
    width: 366px;
    height: 37px;
    background: rgb(249, 195, 70);
}


.LoginPage .LogInBox .ButtonLogIn .LOGIN {
    position: absolute;
    left: 130px;
    top: 2px;
    width: 72px;
    height: 35px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgba(255, 255, 255, 1.00);
    font-family: Lusitana;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
}


.LoginPage .CircleSopra {
    position: relative;
    width: 88px;
    height: 88px;
    border-radius: 50px;
}

.LoginPage .CircleSopra .Rectangle1 {
    position: relative;
    left: 0px;
    top: 0px;
    width: 88px;
    height: 88px;
    background: rgba(255, 0, 0, 0.60);
    border-radius: 50px;
}

.LoginPage .CircleSopra .Rectangle2 {
    position: relative;
    left: 10px;
    top: 10px;
    width: 68px;
    height: 68px;
    background: rgba(249, 79, 70, 0.45);
    border-radius: 50px;
}

.LoginPage .CircleSopra .Rectangle3 {
    position: relative;
    left: 24px;
    top: 24px;
    width: 40px;
    height: 40px;
    background: rgba(249, 79, 70, 1.00);
    border-radius: 50px;
}

.LoginPage .DonthaveanaccountyetCreateone {
    position: relative;
    height: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgba(255, 255, 255, 1.00);
    font-family: Lusitana;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
}