debug = true
logLevel = "DEBUG"
defaultEntryPoints = ["https","http"]

[entryPoints]
  [entryPoints.http]
  address = ":80"
  [entryPoints.https]
  address = ":443"
  [entryPoints.https.tls]

[retry]

[docker]
exposedByDefault = false
swarmMode = true
watch = true

[acme]
  email = "germangorodnev@gmail.com"
  storage = "/acme.json"
  entryPoint = "https"
  acmeLogging = true
  # caServer = "https://acme-staging-v02.api.letsencrypt.org/directory"
  [acme.httpChallenge]
    entryPoint = "http"
  [[acme.domains]]
    main = "hiking.germangorodnev.com"
  [[acme.domains]]
    main = "hiking-backend.germangorodnev.com"

